body{

background:#0d1117;

font-family:Arial;

color:white;

}

.box{

width:800px;

margin:auto;

margin-top:60px;

text-align:center;

}

input{

padding:12px;

width:300px;

}

button{

padding:12px 30px;

cursor:pointer;

}

.error{

color:red;

}